.gitattributes export-ignore
example_diagrams export-ignore
build/package export-ignore
build/win export-ignore
build/rpm export-ignore
build/deb export-ignore
build/example_diagrams export-ignore
*.h linguist-language=C
*.inl linguist-language=C
