Source: crystal-facet-uml
Section: devel
Priority: optional
Maintainer: Andreas Warnke <cfu@andreaswarnke.de>
Build-Depends: debhelper (>= 10), gcc, cmake, libgtk-3-0
Standards-Version: 4.1.2
Homepage: http://andreaswarnke.de/crystal_facet_uml/html/index.html
Vcs-Git: https://github.com/awarnke/crystal_facet_uml.git
Vcs-Browser: https://github.com/awarnke/crystal_facet_uml

Package: crystal-facet-uml
Architecture: any
Depends: gtk3, ${shlibs:Depends}, ${misc:Depends}
Description: crystal_facet_uml draws UML diagrams.
 crystal_facet_uml is a uml diagram drawing tool
 that creates a set of consistent uml diagrams.
