Source: crystal-facet-uml
Section: unknown
Priority: optional
Maintainer: Andi <andi@unknown>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/crystal-facet-uml.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/crystal-facet-uml.git

Package: crystal-facet-uml
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
