[Desktop Entry]
Name=crystal_facet_uml
GenericName=UML Drawing Tool
Icon=crystal_facet_uml
Comment=Create a set of consistent uml diagrams
Exec=/usr/bin/crystal_facet_uml -u %f
Terminal=false
StartupNotify=false
Type=Application
Categories=Development;Documentation;

