Source: crystal-facet-uml
Section: devel
Priority: optional
Maintainer: Andreas Warnke <cfu@andreaswarnke.de>
Build-Depends: 
 cmake, 
 debhelper (>= 10),
 gcc,
 libsqlite3-dev
 libgtk-3-dev
Standards-Version: 4.1.2
Homepage: http://andreaswarnke.de/crystal_facet_uml/html/index.html
Vcs-Git: https://github.com/awarnke/crystal_facet_uml.git
Vcs-Browser: https://github.com/awarnke/crystal_facet_uml

Package: crystal-facet-uml
Architecture: any
Depends:
 libgtk-3-0, 
 libsqlite3-0, 
 ${shlibs:Depends}, 
 ${misc:Depends}
Description: Diagram documentation tool for system and software architecture:
 crystal-facet-uml creates sysml/uml diagrams to document system and software
 architecture.
 .
 As software architect, you create a set of diagrams describing
 use-cases, requirements, structural views, behavioral and deployment views.
 crystal-facet-uml keeps element names and element hierarchies consistent.
 It exports diagrams in svg, pdf, ps and png formats
 to be used in text processing systems like DocBook, html, LaTeX.
 crystal-facet-uml exports the model to xmi format.
 This tool runs on your local linux PC and is based on glib, gdk, gtk, cairo,
 pango, sqlite.
