[Desktop Entry]
Name=crystal-facet-uml
GenericName=UML Drawing Tool
Icon=crystal-facet-uml
Comment=Create a set of consistent uml diagrams
Exec=/usr/bin/crystal-facet-uml -u %f
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;Documentation;
Keywords=uml;diagram;architecture;sysml;
